/*DROPDOWN*/

.menu{
    position: relative;
    display: inline-block;
}
.menu-contenido{
    display:none;
    position:absolute;
    width:150px;
    background-color:rgb(226, 147, 110);

}


.menu-contenido li{
    padding: 10px;
}
.menu-contenido li a{
    display:block;
}
button{
    padding:5px;
    font-size:15px;
}
.menu:hover .menu-contenido{
    display:block;
}

/**/
*{
    padding:0px;
    margin:0px;
}


.menu{
    position: relative;
    display: inline-block;
}
.menu-contenido{
    display:none;
    position:absolute;
    width:200px;
    background-color:rgb(243, 232, 84);


}


.menu-contenido li{
    padding: 5px;
}
.menu-contenido li a{
    display:block;
}
button{
    padding:5px;
    font-size:15px;
}
.menu:hover .menu-contenido{
    display:block;
}

/**/


.grid{
    display: grid;
    background-color: rgb(250, 184, 43);
    max-width:760px


}
*{
    padding-left:0%;
    padding-right:0%;

}

.grid article{
    padding: 2%;
    margin-top: 20%;
    margin-bottom:20%;
}

.art-1{
    grid-column: 1;
    grid-row: 1;
}
.art-2{
    grid-column: 3;
    grid-row: 1 ;
}

.art-3{
    grid-column: 1;
    grid-row: 2;
}
.art-4{
    grid-column: 3;
    grid-row: 2;
}

.art-5{
    grid-column: 1 / span 8;
    grid-row: 3;
}

/**/

.fila{
    
    flex-direction: column;
  
}

.caja{
    flex-direction:column;
    gap:20px;
}
    

/*TEXTO ENCIMA*/

.imagen{
    height:400px;
    object-fit:cover;
}

.sobre-texto{
    position: relative;
}

.borde .sobre-texto .texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10%;
}



.circulo{
    border-radius:50%
}


/*----HISTORIA-----*/

.grilla{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5%;
    grid-gap:10px;

}

.item{
    height:100%;
    object-fit:cover;
}

.contenido .item{
    border-radius: 30px;
}

.contenido:nth-child(1){
    grid-row-start: span 2;
}
.contenido:nth-child(2){
    grid-row-start: span 6;
}


.columna{
    display:flex;
    flex-direction:row;
    background-color:rgb(243, 48, 113);
    border-radius: 10px;
    gap:10%;


}

.contenido .item .columna{
    padding:10px;
}





/*ACERCA DE*/

.grilla{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:50px;
    padding-top: 5%;
    grid-gap:30px;

}

.item{
    width:100%;
    height:100%;
    object-fit:cover
}

.contenido .item{
    border-radius: 10%;
}



/*GALERIA*/

.galeri{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    padding:8%;
    grid-gap: 10px;
}

.galeria-im{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
}

.im:nth-child(1){
    grid-row-start: span 2;
}




.separador{
    background-color:rgb(241, 195, 44);
    padding:8%;
}


/*---------CRITICAAAA----*/

.fila{
    display: flex;
    flex-direction: column;
    padding:50px;
    gap:50px
}

.fila article{
    flex: 50%;

}

.galeria{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
    /*padding:10%;*/
    padding-top:0%

}

.galeria-img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
}

.img:nth-child(1){
    grid-row-start: span 2;
}

.img:nth-child(2){
    grid-row-start: span 2;
}

.img:nth-child(4){
    grid-row-start: span 2;
}

.cuadro2{
    padding-top:2%
}

/**/
/*EsTRELLITAS*/

.estrellitas{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 2%;
    padding-bottom: 15%;
    padding-left: 2%;
}

.opinion{
    width:100%;
    height:100%;
    object-fit:cover;
}

.bloque:nth-child(2){
    grid-row-start: 4 span
}



.opinion h1{
    background-color:rgb(241, 195, 44);
    border-radius:40px;
    padding-left:5%;
}

/*UBICACION*/



.mapa{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    padding-bottom:50%;
    gap:4%

}
.horario .hora h5{
    background-color:cadetblue;
    border-radius:30px;
    padding:3%;
}
.hora{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
}

.horario:nth-child(1){
    grid-column-start: span 2;
}

.horario:nth-child(2){
    grid-column-start: span 2;
    grid-row-start:span 3;
}

.horario:nth-child(3){
    grid-column-start: span 2;
    text-align:center
}

.horario:nth-child(4){
    grid-column-start: span 2;
    text-align:center;

}


/*GRILLA DE INDEX*/


.grillaaa{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    padding:10%;
    grid-gap: 10%;
    
}

.interior .sobre-texto .item{
    border-radius:30px
}

.coso{
    border-radius:30px;
    height:62%;
    width:100%;
    object-fit:cover;
}


.interior:nth-child(1){
    grid-column-start: span 3;
}

/*nExt*/

.sobre-texto .textito{

    top:75%
}

/*CARDS*/

.card{
    width: 8rem;
}
.card-img-top{
    height: 100px;
    object-fit:cover;
}

.card-title{
    text-align:center;
}

.icono{
    background-color:white;
    border-radius:50%;
    padding:2px
}


/*VIDEITO*/
.videito iframe{
    width:100%;
    height:300px
}

.contenedor{
    border: 2px solid rgb(255, 255, 255);
}

.fila{
    display: flex;
    flex-direction: column;
    padding:10%
}

.fila .te{
    flex: 50%;

}

.contenedor{
    padding-top:10%;
    padding: 10%;
}

.imagen{
    width:100%;
}

.sobre-texto{
    position: relative;
}

.borde .sobre-texto .texto-encima{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 100px;
}